body{
     background: rgb(7,46,103);
     background: linear-gradient(90deg, rgba(7,46,103,1) 0%, rgba(9,88,116,1) 65%, rgba(11,154,136,1) 100%);}
#container{
     width: 600px;
     margin: auto;
     border: 1px solid rgba(0, 0, 0, 0.568);
     padding: 60px;
     border-radius: 5px;
     margin-top: 200px;
     background-color: #fbfbfb2f;
}
input{
     background-color: #fbfbfb !important;
}
.btn{
     border: 1px solid rgba(0, 0, 0, 0.37) !important;
}